target/*
build/*
tmp/*
!tmp/.keep
.gradle
gradle/*
gradlew*
.settings/*
.classpath
.metadata
.project
.idea
*.iml
*.baseDir.ts
/target
*.sublime*
src/main/webapp/frontend/*
src/main/resources/static/css/*
src/main/resources/static/node_modules/*
src/main/resources/static/typings/*
src/main/resources/static/dist/*
src/main/resources/static/coverage/*
src/main/resources/static/.sass-cache/*
src/main/resources/static/typescript/**/*.js
src/main/resources/static/typescript/**/*.js.map
src/main/resources/static/npm-debug.log
src/main/resources/static/tscommand-*
.env
src/main/resources/application.properties
src/main/resources/hibernate.cfg.xml
src/main/resources/logback.xml
Gemfile.lock
ruby/bin/.server_log
ruby/bin/.server_pid
